@import 'bulma/bulma';

$peach: #FFAC98;
$navy: #3F527D;
$safeBlue: #008bcc;

.menu {
  background: $peach;
}

span.navbar-item {
  color: $navy;
  font-weight: bold;
}

span.navbar-item:hover {
  color: #363636;
  font-weight: bold;
}
a {
  color: $navy;
}

.App {
  text-align: center;
  background-color: $safeBlue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bigButton {
  width: 47%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.menuImage{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}


html,
body,
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar-item img {
  max-height: 3.5rem;
}

.card-content{
  border: 1px solid #0a3c59;
  border-radius: 9px;
  color: #008bcc;
  font-size: 30px;
  font-family: helvetica, serif;
  vertical-align: middle;
  background-color: white;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
}
.card .card-content {
  border-radius: 0 0 25px 25px;
}
.card .card-image img {
  border-radius: 25px 25px 0 0;
}

